
:root
{
	/*****Colors******/	
		--themeA1:#222;
		--themeA2:orange;
		--themeAbackground:white;
		--themeAxhover:red;
		--themeAfooterbackground:#aaa;
		--themeAheader:#eee;
		--themeA1bt:Purple;
		--themeA1bthover:#222;
	/***********/
}

/*********The smooth-warner*********/

section.smooth-warner
{
font-size:small;
color:var(--themeA1);
position:absolute;
left:50%;
top:50%;
transform-origin:top left;
transform:scale(1) translateX(-50%) translateY(-50%);
border-radius:.5em;
overflow:hidden;
border:1px solid var(--themeA2);
font-family:arial;
animation-name:smooth-warnerentrance;
animation-duration:500ms;
width:calc(17 * 2em);
z-index:20;
background-color:var(--themeAbackground);
}

@media (max-width:600px)
{
	section.smooth-warner
	{
		width:100%;
	}
}
section.smooth-warner.sneaky
{
animation-name:entrancefromup;
animation-duration:5s;
top:0em;
transform:translateX(-50%) translateY(-100%);
border-top-left-radius:0;
border-top-right-radius:0;
}

@keyframes entrancefromup
{
	10%,
	90%	
	{
		transform:translateX(-50%) translateY(0);	
	}
	100%
	{
		transform:translateX(-50%) translateY(-100%);		
	}
}

section.smooth-warner.leave
{
animation-name:leave;
animation-duration:600ms;
}
section.smooth-warner.sneaky.leave
{
animation:none;
}

body.curtains::after
{
content:"";
position:fixed;
width:100%;
height:100%;
z-index:20000;
left:0;
top:0;
background-color:white;
opacity:.8;
transform-origin:center;
animation:bodycurtains 250ms;
}

@keyframes bodycurtains
{
	from
	{
		transform:scale(0);
	}
}

@keyframes leave
{
	to
	{
		opacity:0;	
		transform:scale(.5) translateX(-50%) translateY(-50%);
	}
}

@keyframes smooth-warnerentrance
{
	from
	{
		transform:scale(.5) translateX(-50%) translateY(-50%);
		opacity:0;
	}
	to
	{
		opacity:1;	
	}
}

section.smooth-warner.fixed
{
position:fixed;
}

section.smooth-warner > aside.header
{
height:2em;
line-height:2em;
background-color:var(--themeAheader);
padding-left:2em;
text-transform:uppercase;
}

section.smooth-warner > aside.header > .title
{
	font-size: 0.85em;
}

section.smooth-warner > aside.header
{
}

section.smooth-warner.sneaky > aside.header
{
}

section.smooth-warner > aside.header > span.x
{
float:right;
line-height:2em;
cursor:pointer;
display:none;
margin-right:2em;
}

section.smooth-warner.bt > aside.header > span.x,
section.smooth-warner.bts > aside.header > span.x
{
display:block;
}

section.smooth-warner > aside.header > span.x:hover
{
color:var(--themeAxhover);
}

section.smooth-warner > aside.footer
{
background-color:var(--themeAfooterbackground);
padding:2em 0;
padding-bottom:0;
overflow:hidden;
text-align:center;
}

section.smooth-warner.timing > aside.footer
{
transform:scaleX(0);
animation-name:horizontalgrow;
animation-duration:5s;
animation-fill-mode:forwards;
padding:0;
height:.25em;
}

section.smooth-warner.timing
{
border-radius:0;
}

@keyframes horizontalgrow
{
	to
	{
		transform:scaleX(1);		
	}
}

section.smooth-warner.bts > aside.footer,
section.smooth-warner.bt > aside.footer
{
padding:2em calc(3 * 2em);
}

section.smooth-warner > article.middle-content
{
padding:2em calc(2 * 2em);
background-color:white;
overflow:hidden;
}

section.smooth-warner > article.middle-content > aside.icon
{
width:calc(2 * 2em);
height:calc(2 * 2em);
margin-right:2em;
float:left;
}

section.smooth-warner > article.middle-content > article.middle
{
float:left;
width:calc(100% - (2 * 2em + 2em));
}

@media (max-width:600px)
{
}

section.smooth-warner.sneaky > article.middle-content > article.middle
{
}
section.smooth-warner.sneaky > article.middle-content > article.middle > span
{
font-size:1.3em;
}

section.smooth-warner > aside.footer > div.bt
{
width:calc(5 * 2em);
color:white;
background-color:var(--themeA1bt);
transform-origin:center;
transform:scale(1);
transition:background-color 250ms;
border-radius:.5em;
text-align:center;
height:2em;
line-height:2em; /*Good manner to vertical align a inline(non-block) with an oneline enclosing content*/
cursor:pointer;
display:none;
}

section.smooth-warner.bts > aside.footer > div.bt
{
display:block;
text-transform:uppercase;
}


section.smooth-warner > aside.footer > div.bt:hover
{
background-color:var(--themeA1bthover);
}

section.smooth-warner > aside.footer > div.bt-left
{
float:left;
}

section.smooth-warner.bt > aside.footer > div.bt-left
{
display:inline-block;
float:none;
}

section.smooth-warner > aside.footer > div.bt-left::before
{
	content:"OK or maybe a YES";
	font-size: 0.8em;
}

/* HERE
 * Here an example of customization
 *
 *	on smoothWarner pack parameter you can pass whatever class name you can contrive in extra_class
 *	for instance, extra_class:["onlyok"]
 *	then, here you could write:
 *
 *  section.smooth-warner.onlyok > aside.footer > div.bt-left::before
 *	{
 *		content:"OK";
 *	}
 *
 *	With similiar approach as above, you can custom everything, create, invent
 *
 *
 * */

section.smooth-warner > aside.footer > div.bt-right
{
float:right;
}

section.smooth-warner > aside.footer > div.bt-right::before
{
	content:"Never mind or No";
	font-size: 0.8em;
}

/************************************/

section.smooth-warner.font-awesome > article.middle-content > aside.icon
{
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
font-family: 'Font Awesome 5 Free';
color:brown;
}

section.smooth-warner.font-awesome.brands > article.middle-content > aside.icon
{
font-family: 'Font Awesome 5 Brands';
}

section.smooth-warner.font-awesome > article.middle-content > aside.icon::before
{
content:"\f39a";
}

section.smooth-warner.question-mark > article.middle-content > aside.icon
{
color:orange;
}

section.smooth-warner.question-mark > article.middle-content > aside.icon::before
{
content: "\f059"
}

/************************************/
